<aside class="contactAside">
  <div class="contactAside__inner l-container">

    <h2 class="contactAside__heading tertiaryHeading _white _center">お問合わせ</h2>

    <p class="contactAside__lead">下記フォームまたは電話番号へお問合わせください</p>

    <a class="contactAside__btn primaryBtn _center _white" href="/contact/">
      <i class="primaryBtn__icon fa-solid fa-envelope" aria-hidden="true"></i>お問合わせフォーム
    </a>

    <div class="contactAside__tel">
      TEL <a class="contactAside__telNum" href="tel:03-0000-0000">03-0000-0000</a>
    </div>

    <div class="contactAside__datetime">受付時間：平日9:00〜18:00</div>

  </div><!-- /.contactAside__inner.l-container -->
</aside>
