<footer class="footer">

  <nav class="footer__nav fNav">
    <ul class="fNav__list">
      <li class="fNav__item">
        <a class="fNav__link" href="#">サイトポリシー</a>
      </li>

      <li class="fNav__item">
        <a class="fNav__link" href="#">プライバシーポリシー</a>
      </li>

      <li class="fNav__item">
        <a class="fNav__link" href="#">サイトマップ</a>
      </li>
    </ul>
  </nav>

  <div class="footer__copyright">
    <small class="footer__copyrightText" lang="en">&copy; Sample All Rights Reserved.</small>
  </div>

</footer>
