<button class="gNavBtn" type="button" aria-label="メインメニューを開く" aria-controls="gNav" aria-expanded="false">
  <span class="gNavBtn__line"></span>

  <span class="u-sr-only">メインメニュー</span>
</button>


<nav class="<%= className %> gNav" id="gNav" aria-label="メインメニュー">
  <ul class="gNav__list">
    <li class="gNav__item">
      <a class="gNav__link _top" href="/" aria-current="page">Home</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link _service" href="/service/">事業内容</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link _products" href="/products/">商品紹介</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link _company" href="/company">会社概要</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link _recruit" href="/recruit/">採用情報</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link _contact" href="/contact">お問合わせ</a>
    </li>
  </ul>
</nav>
