<header class="header">
  <<%= element %> class="header__heading">
    <a class="header__link" href="/">
      <img class="header__logo" src="<%= src %>images/common/logo.svg" alt="株式会社 Grass Field" width="210" height="45">
    </a>
  </<%= element %>>

  <%- include('./_gnav') %>
</header>
