// セクション・トップページ


// 変数、ミックスイン、関数
@use "@scss/global/" as g;



.topSection {

  &__heading {
    font-family: g.$Oswald;
    @include g.rem-fz(28);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
  }

  &__list {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 40px;
  }

  & + & {
    margin-top: 50px;
  }


  @include g.mq() {

    &__heading {
      @include g.rem-fz(50);
    }

    &__list {
      margin-top: 40px;
    }

    &__btn {
      margin-top: 60px;
    }


    & + & {
      margin-top: 80px;
    }
  }
}
