// セクション・トップページ


// 変数、ミックスイン、関数
@use "@scss/global/" as g;



.topSection {
  padding-bottom: 50px;

  &__heading {
    font-family: g.$Oswald;
    @include g.rem-fz(28);
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .2em;

    &._center {
      text-align: center;
    }


    @include g.mq {
      @include g.rem-fz(50);
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__btn {
    margin-top: 40px;
  }


  @include g.mq() {
    padding-bottom: 80px;

    &__list {
      margin-top: 40px;
    }

    &__btn {
      margin-top: 60px;
    }
  }
}
