<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: '事業案内 Service', description: '株式会社Grass Field の事業内容のページです。' }) %>


<body class="service">

<%- include('../components/common/_header', { element: 'div', src: '../../' }) %>


<main class="main">

  <div class="primaryHero _service">
    <h1 class="primaryHero__heading primaryHeading">
      <span class="primaryHeading__ja">事業内容</span>
      <span class="primaryHeading__en">Service</span>
    </h1>
  </div>


  <div class="l-container">

    <div class="main__intro">
      <p class="main__catch">
        <b>キャッチコピーが入ります。キャッチコピーが入ります。<br>
        キャッチコピーが入ります。</b>
      </p><!-- /.main__catch -->

      <p class="main__lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
    </div><!-- /.main__intro -->


    <div class="serviceAlternateWrapper">
      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">事業タイトルが入ります
          </h2>

          <p class="serviceAlternate__subHeading">サービス１</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list col-pc4 _sm-gap">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service01.jpg" alt="">
        </figure>
      </section>


      <section class="serviceAlternate _reverse">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">事業タイトルが入ります
          </h2>

          <p class="serviceAlternate__subHeading">サービス2</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list col-pc4">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service02.jpg" alt="">
        </figure>
      </section>


      <section class="serviceAlternate">
        <div class="serviceAlternate__body">
          <h2 class="serviceAlternate__heading">事業タイトルが入ります
          </h2>

          <p class="serviceAlternate__subHeading">サービス3</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <p class="serviceAlternate__text">事業内容の説明テキストが入ります。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

          <ul class="serviceAlternate__list col-pc4">
            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>

            <li class="serviceAlternate__listItem">
              <img class="serviceAlternate__listImage"
                srcset="../../images/service/dmy_thumb03.jpg 1x,
                        ../../images/service/dmy_thumb03@2x.jpg 2x"
                src="../../images/service/dmy_thumb03@2x.jpg"
                alt=""
                width="288"
                height="200">
            </li>
          </ul>
        </div><!-- /.serviceAlternate__body -->

        <figure class="serviceAlternate__figure">
          <img class="serviceAlternate__image" src="../../images/service/ph_service03.jpg" alt="">
        </figure>
      </section>
    </div><!-- /.serviceAlternateWrapper -->

  </div><!-- /.l-container -->
</main>


<%- include('../components/common/_contact') %>


<nav class="breadcrumb" aria-label="パンくずリスト">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

    <li class="breadcrumb__item"><a class="breadcrumb__link _current" href="/service/" aria-current="page">事業内容</a></li>
  </ol>
</nav>


<%- include('../components/common/_footer') %>




</body>
</html>
